/* reset */
ul,
p,
button {
    padding: 0;
    margin: 0;
}

/* styles */
.slider-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto 14px;
}

.prev-icon,
.next-icon {
    fill: white;
}

.prev-icon:hover,
.prev-icon:focus,
.next-icon:hover,
.next-icon:focus {
    fill: black;
    background-color: white;
}

.prev,
.next {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 0;
    background-color: black;
    border-radius: 50%;
}

.prev {
    transform: translate(-50%, -50%) rotate(180deg);
    left: 40px;
}

.next {
    right: 0;
}

.prev-icon,
.next-icon {
    border: 1px solid black ;
    border-radius: 50%;
}

.slide-item {
    display: none;
}

.image-container {
    /* position: absolute; */
    width: auto;
    height: auto;
    /* width: 100%;
    height: 100%; */
}


.slide-image {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.slide-number,
.slide-caption {
    position: absolute;
    font-size: 24px;
    color: red;
}

.slide-caption {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    z-index: 2;
}

.slide-number {
    top: 20%
}

.dots-container {
    display: flex;
    justify-content: center;
}

.dot {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
}

.dot:not(:last-child) {
    margin-right: 7px;
}

.is-active {
    display: block;
}
